body{
font-family: Arial;
background: linear-gradient(135deg,#0f2027,#203a43,#2c5364);
color:white;
text-align:center;
margin:0;
padding:0;
}

.container{
padding:40px;
}

.subtitle{
color:#ddd;
margin-bottom:30px;
}

.stats{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
margin-bottom:40px;
}

.card{
background:white;
color:black;
padding:20px;
border-radius:10px;
width:150px;
box-shadow:0 5px 15px rgba(0,0,0,0.3);
}

.analysis{
background:white;
color:black;
padding:30px;
border-radius:10px;
width:400px;
margin:auto;
box-shadow:0 5px 20px rgba(0,0,0,0.3);
}

input[type=file]{
padding:10px;
border-radius:6px;
}

button{
padding:12px 25px;
background:#0077ff;
color:white;
border:none;
border-radius:6px;
cursor:pointer;
font-size:16px;
}

button:hover{
background:#0056cc;
}

#preview{
width:300px;
display:none;
margin-top:15px;
border-radius:10px;
}

#result{
margin-top:20px;
font-size:18px;
font-weight:bold;
}